# Ignore everything
*

# Exceptions (Tracked files)
!README.md
!chatbot.js
!chatbot
!.gitignore
!transcript
!pdf-convert
!pdf-download.js
!chatbot-login
!telegram-bot.js
!package.json
!package-lock.json
!lib/
!lib/questions.js
!lib/browser-ai-interface.js
!test/
!test/questions.test.js
